.product-list {
  color: #333;
  .table {
    padding: 5px;
    width: 100%;
    overflow-x: auto;

    .search {
      width: 100%;
      max-width: 300px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 1.4rem;

      thead {
        border-top: 2px solid var(--clr-cornflower-blue);
        border-bottom: 2px solid var(--clr-cornflower-blue);
      }

      th {
        border: 1px solid #eee;
      }

      th,
      td {
        vertical-align: top;
        text-align: left;
        padding: 8px;

        &.icons {
          display: flex;
          justify-content: space-around;
          align-items: center;
          gap: 0.7rem;
          > span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            width: 34px;
            height: 34px;
            border-radius: 100vmax;
            box-shadow: 0 0 0.4rem 0 rgba(0, 0, 0, 0.5);
            cursor: pointer;
            transition: 0.3s;
          }
          span:hover {
            box-shadow: 0 0 0.8rem 0 rgba(0, 0, 0, 0.5);
          }
          span:first-child svg {
            margin-top: 5px;
          }

          span:nth-child(2) svg {
            margin-top: 4px;
            margin-left: 2px;
          }

          span:first-child:hover {
            background-color: #add8e6;
            color: #fff;
          }

          span:nth-child(2):hover {
            background-color: #90ee90;
            color: #fff;
          }

          span:last-child:hover {
            background-color: orangered;
            color: #fff;
          }
        }
      }

      tr {
        border-bottom: 1px solid #ccc;
      }
    }

    .pagination .selected a {
      background-color: var(--clr-cornflower-blue);
      color: #fff;
    }
    .pagination li:hover a {
      background-color: var(--clr-cornflower-blue);
    }
  }
}
