.add-product {
  margin-bottom: 3rem;
  .card {
    width: 100%;
    max-width: 700px;
    padding: 2rem;
    margin-inline: auto;
  }
  form {
    label {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--color-dark);
    }
    input[type='text'],
    input[type='number'],
    input[type='file'],
    input[type='email'],
    select,
    input[type='password'] {
      display: block;
      font-size: 1.6rem;
      font-weight: 300;
      padding: 8px 14px;
      margin: 1rem auto;
      width: 100%;
      border: none;
      border-radius: 10px;
      outline: none;
      transition: all 0.3s, transform 0.2s;
    }

    input[type='text']:hover,
    input[type='number']:hover,
    input[type='email']:hover,
    select:hover,
    input[type='password']:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    input[type='file']:hover {
      cursor: pointer;
    }

    input[type='text']:focus,
    input[type='number']:focus,
    input[type='email']:focus,
    select:focus,
    input[type='password']:focus {
      border: 1px solid var(--clr-java);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    input[type='text']:active,
    input[type='number']:active,
    input[type='email']:active,
    select:active,
    input[type='password']:active {
      transform: scale(0.975);
    }
  }
}

.group {
  border: 1px solid var(--dark-blue);
  padding: 5px;
  margin-bottom: 1.8rem;
}

.image-preview {
  width: 100%;
  height: 100%;
  max-height: 280px;
  background: var(--dark-blue);
  padding: 1rem;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.3s;
}

.image-preview img {
  width: 100%;
}

.image-show {
  display: block;
}
